.popular-section {
  width: 90%;
  max-width: 1250px;
  margin: 40px auto;
}

.popular-section h2 {
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  color: #6c6c6c;
  margin-bottom: 22px;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 22px;
}

.restaurant-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: 0.25s ease;
  cursor: pointer;
}

.restaurant-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.12);
}

.image-box {
  position: relative;
  height: 200px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.restaurant-info {
  padding: 16px 18px 22px 18px;
}

.restaurant-info h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.location {
  font-size: 14px;
  color: #777;
}

.tags {
  margin: 8px 0;
}

.tags span {
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 5px;
  font-size: 12px;
}

.reserve-btn {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  background: #d62828;
  border: none;
  color: white;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.reserve-btn:hover {
  background: #b71d1d;
}
