.restaurant-card {
  width: 350px;
  background: #fff;
  border-radius: 18px;
  padding-bottom: 18px;
  overflow: hidden;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.1);
  transition: 0.25s;
}

.restaurant-card:hover {
  transform: translateY(-4px);
}

.card-image {
  position: relative;
  height: 220px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #d62828;
  padding: 6px 12px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.rating {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ffffffcc;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 13px;
}

.card-title {
  margin: 18px 20px 4px 20px;
  font-size: 20px;
  font-weight: 700;
}

.card-location {
  margin: 0 20px;
  font-size: 14px;
  color: #777;
}

.card-desc {
  margin: 10px 20px 18px 20px;
  color: #666;
  font-size: 14px;
}

.card-buttons {
  display: flex;
  gap: 12px;
  margin: 0 20px;
}

.menu-btn {
  flex: 1;
  background: #eee;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
}

.rez-btn {
  flex: 1;
  background: #d62828;
  border: none;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}
